*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#00000013;
}
.container{
    padding:15%;
    padding-top: 5%;
    display: flex;
    justify-content:space-between;
    padding-bottom:0%;
}
.container .menu{
    width:80%;
}
.container .menu .header{
    font-family: 'Poppins', sans-serif;
    color:rgb(0, 0, 0);
}
.container .menu .header p{
    font-family:Open Sans;
    opacity:0.5;
}
/* แก้-------------------------------------------------------------------- */
.btn-group button {
    background-color: #ffffff; /* Green background */
    border: 1px solid rgb(0, 0, 0); /* Green border */
    color: rgb(8, 8, 8); /* White text */
    padding: 10px 25px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: right; /* Float the buttons side by side */
   
    
  }

  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  .btn-group button:hover {
    background-color: #335c34;
  }
/* ------------------------------------------------------------------   */
.container .menu .tags{
    margin-top:5%;
}
.container .menu .tags .tag{
    height:70px;
    width:200px;
    background-color:#f36d00;
    color:rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
}
.container .menu .tags .tag .icon{
    height:40px;
    width:40px;
    margin-right:5%;
}
.container .menu .tags .tag .icon img{
    width:100%;
}
.container .orders{
    width:30%;
    padding-left:5%;
}
.container .orders .header h1{
    font-family: 'Poppins', sans-serif;
    color:rgb(0, 0, 0);
}
.container .orders .header p{
    font-family:Open Sans;
    color:rgb(0, 0, 0);
    opacity:0.5;
}
/* burgers */
.container .burgers{
    height:350px;
    display:flex;
    flex-wrap: wrap;
    margin-top:5%;
    overflow:auto;
    scroll-behavior:smooth;
}
.container .burgers::-webkit-scrollbar{
    -webkit-appearance:none;
    width:8px;
}
.container .burgers::-webkit-scrollbar-track{
    background-color:#ffffff;
    border-radius:12px;
}
.container .burgers::-webkit-scrollbar-thumb{
    background-color:#ffffff;
}
.container .burgers .burger{
    height:280px;
    width:230px;
    background-color:#af9a9a42;
    border-radius:12px;
    padding:2%;
    margin:2%;
    margin-left:0%;
}
.container .burgers .burger .image{
    height:150px;
    width:230px;
    overflow: hidden;
    border-radius:12px;
}
.container .burgers .burger .image img{
    width:100%;
}
.container .burgers .burger .title{
    font-family: 'Poppins', sans-serif;
    color:rgb(0, 0, 0);
    font-size:1.2rem;
    margin-top:5%;
    height:60px;
    overflow: hidden;
    font-weight:bolder;
}
.container .burgers .burger .bottom{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.container .burgers .burger .bottom .price{
    color:#ff0022;
    font-family: 'Poppins', sans-serif;
    font-size:2rem;
}
.container .burgers .burger .bottom .cart i{
    color:rgb(207, 73, 20);
    font-size:2rem;
    cursor: pointer;
}
/* orderdburger */
.orderdburgers{
    margin-top:5%;
    height:250px;
    overflow-y: auto;
    width:450px;
    margin-bottom:5%;
}
.container .orderdburgers::-webkit-scrollbar{
    -webkit-appearance:none;
    width:8px;
}
.container .orderdburgers::-webkit-scrollbar-track{
    background-color:#000000;
    border-radius:12px;
}
.container .orderdburgers::-webkit-scrollbar-thumb{
    background-color:#000000;
}
.orderdburgers .burger{
    height:80px;
    width:400px;
    background-color:#f0c0c0;
    border-radius:12px;
    display: flex;
    align-items: center;
    padding-left:5%;
    margin-bottom:5%;
}
.orderdburgers .burger .icon{
    height:60px;
    width:60px;
    overflow: hidden;
    border-radius:12px;
    margin-right:5%;
}
.orderdburgers .burger .icon img{
    width:150%;
}
.orderdburgers .burger .title{
    font-family: 'Poppins', sans-serif;
    color:rgb(0, 0, 0);
    font-size:0.5rem;
}
.orderdburgers .burger .title h1{
    width:250px;
    overflow: hidden;
}
.orderdburgers .burger .title p{
    font-family:Gilroy;
    color:rgb(0, 0, 0);
    opacity:0.5;
    font-size:1rem;
}
.orderdburgers .burger .delete i{
    font-size:2rem;
    color:#fa5268;
    cursor: pointer;
}
.orders .bill{
    height:280px;
    width:400px;
    background-color:#ffffff;
    border-radius:12px;
    padding:2%;
}
.orders .bill .cash{
    color:rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    display:flex;
    justify-content:space-between;
    padding-right:5%;
    margin-top:5%;
    padding-left:5%;
}
.orders .bill .total{
    border-top:2px dashed white;
    padding-top:5%;
}
.orders .bill span{
    color:rgb(0, 0, 0);
    opacity:1;
}
.orders .bill .button{
    width:400px;
    display: flex;
    justify-content: center;
    margin-top:10%;
}
.orders .bill .button button{
    height:80px;
    width:400px;
    border-radius:12px;
    background-color:#f36d00;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size:1.5rem;
    cursor: pointer;
    border:none;
}

  
  
  